#navbarNav {
  position: absolute;
  left: 1000px;
}

.inner_header {
  width: 300px;
  height: 70px;
  position: absolute;
  left: 150px;
  background: rgb(151, 164, 206);
  top: 0;
}

.navbar-brand h1 {
  position: absolute;
  left: 20px;
  color: black;
  height: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: bold;
}

#navbarz {
  background-color: burlywood;
  height: 70px;
  position: absolute;
  width: 100%;
}

#navlinks a {
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: underline;
}

.jumbotron {
  width: 960px;
  margin: 0 auto;
  position: relative;
  top: 200px;
  background-color: rgb(151, 164, 206);
  border: 10px solid burlywood;
}

.test {
  text-decoration: underline;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

body h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: underline;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgrey;
  color: black;
  text-align: center;
  border: 3px solid black;
  height: 30px;
}

.footer p {
  line-height: 10px;
}
